Source: emb-plus-examples
Section: misc
Priority: optional
Maintainer: Vivekananda Dayananda <vivekananda.dayananda@amd.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/Xilinx/emb-plus-examples
Rules-Requires-Root: no

Package: filter2d-acceleration-application
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, xrt (>= 2.17.300), libopencv-dev (>= 4.5.4)
Description: Example filter2d Acceleration application
	A simple application demonstrating PL accelerator on embedded-plus-platform
